<ul>
    {{#foreach posts}}
        <li class="post-element">
            <p class="post-element-title"><a  href="{{ url }}">{{ title }}</a></p>
            <p class="post-element-date">{{date published_at format="MMMM DD, YYYY"}}</p>
            <p class="post-element-description"> {{excerpt}}</p>
        </li>
    {{/foreach}}
</ul>
