<ul>
    {{#foreach posts}}
        <li class="post-element">
            <span class="post-element-date">{{date published_at format="MMMM DD, YYYY"}}</span>
            <a class="post-element-title" href="{{ url }}">{{ title }}</a>
            <a class="post-element-edit" href="/ghost/editor/{{id}}">Edit</a>
        </li>
    {{/foreach}}
</ul>
