{{!< default}}
<div class="header">
    <h1>{{@blog.title}}</h1>
    {{navigation}}
</div>
<div class="blog">
  <div class="blog">
    <h1>Tags:</h1>
    {{> tag-list}}
  </div>

  <div class="blog">
    <h1>Posts:</h1>
    {{> post-list}}
  </div>
</div>
