canvas, .c2 {
  width: 100%;
  height: 100%;
  margin: 0;
  // background: linear-gradient(to bottom, #20202c 30%,#515175 100%);
}

.reflection-wrapper {
  display: none;
  // position: fixed;
  // bottom: 0;
  max-height:100px;
  overflow: hidden;
}

.c1 {
  z-index: 1;
  position: fixed;
  top: 0;
}

.c2 {
  transform: rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 180deg) rotate3d(0, 0, 1, 180deg);
  backface-visibility: visible;
  opacity: .4;
  // background-color: gray;
  filter: blur(1px);
  z-index: 15;
  position: relative;
}
