.recipe-content {
  margin-top: -30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  > * {
    padding: 10px 10px 10px 0;
    flex: 1 100%;
  }
  .manual {
    order: 2;
  }
  .ingredients {
    li {
      margin-left: 10px;
    }
  }
}

@media all and (min-width: 600px) {
  .ingredients { flex: 1 auto; }
}
@media all and (min-width: 800px) {
  .manual {
    flex: 1 300px;
    order: 1;
  }
  .ingredients {
    order: 2;
  }
}
